@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tangerine&display=swap');

body {
  background-color: #d3d3d3;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  height: 645px;
}

.quoteWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 400px;
  min-height: 200px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.nextQuoteButton {
  position: relative;
  left: 75%;
  color: #fff;
  cursor: pointer;
  width: max-content;
  padding: 10px;
  border-radius: 12px;
  margin-top: 25px;
}

.quote {
  font-size: 40px;
  font-family: 'Tangerine', cursive;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  color: #8d8a8a;
  font-family: 'Staatliches', cursive;
  margin-top: 20px;
}
